main{
    background-color:pink;
    display: flex;
    flex-direction: column;
    
}
section{
    border: 1px solid black;
    width: 500px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
 
}